@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

html {
    scroll-behavior: smooth;
}

.loginform {
    border: solid 2px #66cb9f;
    border-radius: 20px;
}

.card {
    border: 1px solid rgb(207, 255, 179);
    border-radius: 10px;
}

.card:hover{
    transform: scale(1.01);
    box-shadow: 1px 1px 20px -5px rgb(190, 190, 190);
    transition-duration: .35s;
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.icon img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
}

.badge span {
    background-color: #fffbec;
    width: min-content;
    height: 25px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center
}

progress {
    color: #66cb9f;
    background: #66cb9f;
}

.progress {
    height: 10px;
    border-radius: 10px
}

.progress-bar {
    width: 100%;
}

.progress-bar::-moz-progress-bar {
    background: #66cb9f !important;
}

.progress-bar::-webkit-progress-bar {
    background: #66cb9f !important;
}

.progress-bar::-webkit-progress-inner-element{
    background: #66cb9f !important;
}

.progress div {
    background-color: red
}

.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}